---
import Card from './Card.astro';
import Badge from './Badge.astro';
import Button from './Button.astro';

export interface Props {
  id?: string;
  title: string;
  summary?: string;
  type?: string;
  year?: number;
  link?: string;
  linkText?: string;
}

const {
  id,
  title,
  summary,
  type,
  year,
  link,
  linkText = 'Open',
} = Astro.props as Props;
---
<Card
  as="article"
  id={id}
  interactive={true}
  class="backdrop-blur-sm bg-[color-mix(in_oklch,var(--color-background)_82%,transparent)]"
>
  <div class="space-y-2">
    <h3 class="text-xl font-semibold">{title}</h3>
    <p>{summary}</p>
  </div>
  <div class="flex flex-wrap gap-2">
    <Badge class="bg-background/30 mr-2 mb-2" title={type} />
    {year && <Badge class="bg-background/30 mr-2 mb-2" title={String(year)} />}
  </div>
  {link && (
    <div class="mt-3">
      <Button href={link}>{linkText}</Button>
    </div>
  )}
</Card>