---
import MainLayout from './MainLayout.astro';
import Badge from '../components/Badge.astro';

export interface Props {
  title?: string;
  description?: string;
  page?: string;
  containerClass?: string;
  badgeText?: string;
  pageHeading?: string;
  pageSubheading?: string;
}

const {
  title = '',
  description = '',
  page = '',
  containerClass = 'mx-auto w-4/5 @container',
  badgeText = Astro.url.pathname.replace(/^\/|\/$/g, '') || 'Welcome!',
  pageHeading = 'This is a page heading',
  pageSubheading = 'This a the page subheading. Put some longer desdcriptive text here.',
} = Astro.props as Props;

const hasBanner = !!badgeText?.trim();
const hasHeading = !!pageHeading?.trim();
const hasSubheading = !!pageSubheading?.trim();
const hasVisual = !!Astro.slots.has('visual');
---
<MainLayout title={title} description={description} page={page}>
  <section class="w-full pt-12">
    <div class="space-y-4">
      {hasBanner && (
        <Badge title={badgeText} />
      )}
      {hasHeading && (
        <h1 class="mx-8 text-4xl font-semibold leading-tight text-dark-text/90 dark:text-light-text sm:text-5xl">
          {pageHeading}
        </h1>
      )}
      {hasSubheading && (
        <p class="mx-8 max-w-3xl text-lg text-dark-text/80 dark:text-light-text/70">
          {pageSubheading}
        </p>
      )}
      {hasVisual && (
        <div class="w-full h-[300px] mt-8 relative z-0">
          <slot name="visual" />
        </div>
      )}
    </div>
  </section>

  <div class=`${containerClass} relative z-10 -mt-8 sm:-mt-12 md:-mt-16 lg:-mt-40`>
    <slot name="page-content"/>
  </div>
</MainLayout>